<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./vue.js"></script>
</head>
<body>
    <div id="app">
        <form v-on:submit.prevent="addNewTodo">
            <label for="new-todo">Add name</label>
            <input type="text"
            v-model="newTodoText" 
            id="new-todo"
            placeholder="This is my name">
        </form>
        <ul>
            <li
                is="todo-item"
                v-for="(item, index) in todos"
                :key="item.id"
                :title="item.title"
                @remove="todos.splice(index, 1)"></li>
        </ul>
    </div>
    
    <script>
        Vue.component('todo-item',{
            template: '\
                <li>\
                {{ title }}\
                <button v-on:click="$emit(\'remove\')">Remove</button>\
                </li>\
            ',
            props: ['title']
        })

        const vm = new Vue({
            el: '#app',
            data: {
                newTodoText: '',
                todos: [
                    {
                        id: 1,
                        title: 'Frank'
                    },
                    {
                        id: 2,
                        title: 'Mark'
                    },
                    {
                        id: 3,
                        title: 'Hello'
                    }
                ],
                nextTodoId: 4
            },
            methods: {
                addNewTodo () {
                    this.todos.push({
                        id: this.nextTodoId++,
                        title: this.newTodoText
                    })
                    this.newTodoText = ''
                }
            }
        })
    </script>
</body>
</html>